<a href="https://colab.research.google.com/github/SamiraHabib/Movies_University/blob/main/Faculdade_provadepython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np

data = pd.read_csv("https://raw.githubusercontent.com/SamiraHabib/Movies_University/main/links.csv?token=AR3K7SSIDDD4BKZ2NVFSXPLAY7376")
data.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

movieId é um identificador de filmes usado por <https://movielens.org>. Por exemplo, o filme Toy Story tem o link <https://movielens.org/movies/1>.

imdbId é um identificador para filmes usado por <http://www.imdb.com>. Por exemplo, o filme Toy Story tem o link <http://www.imdb.com/title/tt0114709/>.

tmdbId é um identificador de filmes usado por <https://www.themoviedb.org>. Por exemplo, o filme Toy Story tem o link <https://www.themoviedb.org/movie/862>.

In [19]:
data.isnull().sum().sort_values(ascending=False)

tmdbId     8
imdbId     0
movieId    0
dtype: int64

In [6]:
data.shape

(9742, 3)

In [8]:
data_movie = pd.read_csv("https://raw.githubusercontent.com/SamiraHabib/Movies_University/main/movies.csv?token=AR3K7SVR5BVW6TJ4I6O2JNTAY74EQ")
data_movie.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

Os títulos dos filmes são inseridos manualmente ou importados de <https://www.themoviedb.org/> e incluem o ano de lançamento entre parênteses. Erros e inconsistências podem existir nesses títulos.

In [18]:
data_movie.isnull().sum().sort_values(ascending=False)

genres     0
title      0
movieId    0
dtype: int64

In [9]:
data_movie.shape

(9742, 3)

In [10]:
data_rastings = pd.read_csv("https://raw.githubusercontent.com/SamiraHabib/Movies_University/main/ratings.csv?token=AR3K7SRSNF4FMZX2PQLASJDAY74GQ")
data_rastings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

As linhas dentro desse arquivo são ordenadas primeiro por userId e, em seguida, dentro do usuário, por movieId.

As avaliações são feitas em uma escala de 5 estrelas, com incrementos de meia estrela (0,5 estrelas - 5,0 estrelas).

Os carimbos de data / hora representam os segundos desde a meia-noite do Tempo Universal Coordenado (UTC) de 1º de janeiro de 1970.

In [16]:
data_rastings.isnull().sum().sort_values(ascending=False)

timestamp    0
rating       0
movieId      0
userId       0
dtype: int64

In [11]:
data_rastings.shape

(100836, 4)

In [12]:
data_tags = pd.read_csv("https://raw.githubusercontent.com/SamiraHabib/Movies_University/main/tags.csv?token=AR3K7SQWZZHTW2SFGNVRAGTAY74IM")
data_tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [17]:
data_tags.isnull().sum().sort_values(ascending=False)

timestamp    0
tag          0
movieId      0
userId       0
dtype: int64

As linhas dentro desse arquivo são ordenadas primeiro por userId e, em seguida, dentro do usuário, por movieId.

Tags são metadados gerados pelo usuário sobre filmes. Cada tag é normalmente uma única palavra ou frase curta. O significado, o valor e a finalidade de uma tag específica são determinados por cada usuário.

Os carimbos de data / hora representam os segundos desde a meia-noite do Tempo Universal Coordenado (UTC) de 1º de janeiro de 1970.

IDs de usuário
--------

Os usuários do MovieLens foram selecionados aleatoriamente para inclusão. Seus ids foram tornados anônimos. Os ids de usuário são consistentes entre `ratings.csv` e` tags.csv` (ou seja, o mesmo id se refere ao mesmo usuário nos dois arquivos).


Ids de filmes
---------

Apenas filmes com pelo menos uma classificação ou tag são incluídos no conjunto de dados. Esses ids de filme são consistentes com aqueles usados ​​no site MovieLens (por exemplo, id `1` corresponde ao URL <https://movielens.org/movies/1>). Os ids dos filmes são consistentes entre `ratings.csv`,` tags.csv`, `movies.csv` e` links.csv` (ou seja, o mesmo id se refere ao mesmo filme nesses quatro arquivos de dados).

In [14]:
data_tags.shape

(3683, 4)

## **Exploração do dataset**

Lista de Gêneros de filmes:

Genres are a pipe-separated list, and are selected from the following:

* Action
* Adventure
* Animation
* Children's
* Comedy
* Crime
* Documentary
* Drama
* Fantasy
* Film-Noir
* Horror
* Musical
* Mystery
* Romance
* Sci-Fi
* Thriller
* War
* Western
* (no genres listed)

In [ ]:
movies_df.to_csv('Movies.csv', encoding = 'utf-8', index=False)